.renderBioDataItemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 480px) {
  .renderBioDataItemContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .renderBioDataItemChildTwo span {
    margin-left: 25px;
  }
}

.renderBioDataItemChildOne span {
  color: #000000;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 1px;
  font-weight: 600;
}

.renderBioDataItemChildTwo span {
  color: #000000;
  font-size: 20px;
  /* margin-left: 25px; */
  margin-top: 1px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container {
  /* height: 100vh; */
  /* width: 100%; */
  background-color: #72f1a7;
}
.container::-webkit-scrollbar {
  display: none;
}
.box {
  height: 60px;
  width: 60px;
  background-color: #72f1a7;
  color: #000;
  border: 1px black solid;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box>span>p {
  color: #000;
  font-size: xx-small;
}

.mobile-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media screen and (min-width: 560px) {
  .mobile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftImage {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .portfolioContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}